@font-face {
    font-family: "Homoarakhn";
    src: url("../fonts/HOMOARAK.TTF");
}

* {
    text-align: center;
}


body {
    background-image: url("../images/background250px.jpg");
}

.main {
    margin: 70px;
    padding: 100px;
    background-color: lightgray;
    color: red;
}

#question-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#title {
    font-family: 'Homoarakhn', arial;
}